boto3==1.9.16
botocore==1.12.16
Click==7.0
cycler==0.10.0
Cython==0.28.5
-e git+https://github.com/lifeofabit/data-dealer.git@cb35d0cfba8886a50368ac5d05d0a8c2d43d5739#egg=dealer
docutils==0.14
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==3.0.0
numpy==1.15.2
pandas==0.23.4
psycopg2==2.7.5
pymssql==2.1.4
pyparsing==2.2.2
python-dateutil==2.6.1
pytz==2018.5
ruamel.yaml==0.15.71
s3transfer==0.1.13
scipy==1.1.0
seaborn==0.9.0
six==1.11.0
urllib3==1.24.2
